# Pandas Notes

## Load Data

In [92]:
import pandas as pd
df = pd.read_csv('./pokemon_data.csv')
# df = pd.read_csv('./pokemon_data.txt'. delimiter='\t')    in case it's txt, will not read correctly
# df_xlsx = pd.read_excel('filename')  read excel file

In [93]:
print(df.head(3))
print(df.tail(3))

#       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]
       #                 Name   Type 1  ... Speed  Generation  Legendary
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[3 rows x 12 columns]

## Selection

In [94]:
# read headers
print(df.columns)
# read 1 col
print(df['Name'])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [95]:
# read multiple cols
print(df[['Name', 'HP']])

Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

In [96]:
# read line
print(df.iloc[0])

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [97]:
# read multiple lines
print(df.iloc[0:4])

#                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 12 columns]

In [98]:
# select with index
df.iloc[2, 1]

'Venusaur'

In [99]:
for index, row in df.iterrows():
    print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran (Female)
35 Nidorina
36 Nidoqueen
37 Nidoran (Male)
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 Flabébé
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

In [100]:
df.loc[df['Type 1'] == "Fire"]

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 12 columns]

In [101]:
df.describe()   # stat info

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

## Sort

In [102]:
df.sort_values('Name', ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [103]:
df.sort_values(['Type 1', 'Name'], ascending=[True, False])

       #                 Name Type 1  ... Speed  Generation  Legendary
520  469              Yanmega    Bug  ...    95           4      False
208  193                Yanma    Bug  ...    95           2      False
288  265              Wurmple    Bug  ...    20           3      False
460  413  WormadamTrash Cloak    Bug  ...    36           4      False
459  413  WormadamSandy Cloak    Bug  ...    36           4      False
..   ...                  ...    ...  ...   ...         ...        ...
11     9            Blastoise  Water  ...    78           1      False
610  550             Basculin  Water  ...    98           5      False
371  339             Barboach  Water  ...    60           3      False
199  184            Azumarill  Water  ...    50           2      False
655  594            Alomomola  Water  ...    65           5      False

[800 rows x 12 columns]

## Modify Data

In [104]:
# new col
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [105]:
df.head(3)

   #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1  Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2    Ivysaur  Grass  Poison  ...     60           1      False    405
2  3   Venusaur  Grass  Poison  ...     80           1      False    525

[3 rows x 13 columns]

In [106]:
df.drop(columns=['Total'])  # drop a col

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [129]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

In [127]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [109]:
# reorder cols
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [110]:
df.to_csv('modified.csv', index=False)
df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [111]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
75    69             Bellsprout  Grass  ...    40           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
344  315                Roselia  Grass  ...    65           3      False
451  406                  Budew  Grass  ...    55           4      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [112]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
16    13                 Weedle    Bug  ...    50           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[89 rows x 13 columns]

In [113]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [114]:
new_df.reset_index(drop=True, inplace=True)
new_df

     #                   Name Type 1  ... Speed  Generation  Legendary
0    3               Venusaur  Grass  ...    80           1      False
1    3  VenusaurMega Venusaur  Grass  ...    80           1      False
2   45              Vileplume  Grass  ...    50           1      False
3   71             Victreebel  Grass  ...    70           1      False
4  591              Amoonguss  Grass  ...    30           5      False

[5 rows x 13 columns]

In [115]:
# find all names containing Mega
df.loc[df['Name'].str.contains('Mega')]

       #                       Name    Type 1  ... Speed  Generation  Legendary
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
71    65      AlakazamMega Alakazam   Psychic  ...   150           1      False
87    80        SlowbroMega Slowbro     Water  ...    30           1      False
102   94          GengarMega Gengar     Ghost  ...   130           1      False
124  115  KangaskhanMega Kangaskhan    Normal  ...   100           1      False
137  127          PinsirMega Pinsir       Bug  ...   105           1      False
141  130      GyaradosMega Gyarados     Water  ...    81           1      False
154  142  AerodactylMega Aerodactyl      Rock  ...   150           1      False
163  150        MewtwoMega Mewtwo X   Psychic  ...   130           1       True
164  150        MewtwoMega Mewtwo Y   Psychic  ...   140           1       True
168  154                   Meganium     Grass  ...    80           2      False
196  181      AmpharosMega Ampharos  Electric  ...    45           2      False
224  208        SteelixMega Steelix     Steel  ...    30           2      False
229  212          ScizorMega Scizor       Bug  ...    75           2      False
232  214    HeracrossMega Heracross       Bug  ...    75           2      False
248  229      HoundoomMega Houndoom      Dark  ...   115           2      False
268  248    TyranitarMega Tyranitar      Rock  ...    71           2      False
275  254      SceptileMega Sceptile     Grass  ...   145           3      False
279  257      BlazikenMega Blaziken      Fire  ...   100           3      False
283  260      SwampertMega Swampert     Water  ...    70           3      False
306  282    GardevoirMega Gardevoir   Psychic  ...   100           3      False
327  302        SableyeMega Sableye      Dark  ...    20           3      False
329  303          MawileMega Mawile     Steel  ...    50           3      False
333  306          AggronMega Aggron     Steel  ...    50           3      False
336  308      MedichamMega Medicham  Fighting  ...   100           3      False
339  310    ManectricMega Manectric  Electric  ...   135           3      False
349  319      SharpedoMega Sharpedo     Water  ...   105           3      False
354  323      CameruptMega Camerupt      Fire  ...    20           3      False
366  334        AltariaMega Altaria    Dragon  ...    80           3      False
387  354        BanetteMega Banette     Ghost  ...    75           3      False
393  359            AbsolMega Absol      Dark  ...   115           3      False
397  362          GlalieMega Glalie       Ice  ...   100           3      False
409  373    SalamenceMega Salamence    Dragon  ...   120           3      False
413  376    MetagrossMega Metagross     Steel  ...   110           3      False
418  380          LatiasMega Latias    Dragon  ...   110           3       True
420  381          LatiosMega Latios    Dragon  ...   110           3       True
426  384      RayquazaMega Rayquaza    Dragon  ...   115           3       True
476  428        LopunnyMega Lopunny    Normal  ...   135           4      False
494  445      GarchompMega Garchomp    Dragon  ...    92           4      False
498  448        LucarioMega Lucario  Fighting  ...   112           4      False
511  460    AbomasnowMega Abomasnow     Grass  ...    30           4      False
527  475        GalladeMega Gallade   Psychic  ...   110           4      False
591  531          AudinoMega Audino    Normal  ...    50           5      False
796  719        DiancieMega Diancie      Rock  ...   110           6       True

[49 rows x 13 columns]

In [116]:
# filter out all names containing Mega
df.loc[~df['Name'].str.contains('Mega')]

       #                 Name   Type 1  ... Speed  Generation  Legendary
0      1            Bulbasaur    Grass  ...    45           1      False
1      2              Ivysaur    Grass  ...    60           1      False
2      3             Venusaur    Grass  ...    80           1      False
4      4           Charmander     Fire  ...    65           1      False
5      5           Charmeleon     Fire  ...    80           1      False
..   ...                  ...      ...  ...   ...         ...        ...
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[751 rows x 13 columns]

## More Advanced Filtering with Regular Expression

In [117]:
import re

In [118]:
df.loc[df['Type 1'].str.contains('Fire|grass', regex=True)]

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 13 columns]

In [119]:
# ignore case with flags
df.loc[df['Type 1'].str.contains('Fire|grass', flags=re.I, regex=True)]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 13 columns]

In [120]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

       #                 Name    Type 1  ... Speed  Generation  Legendary
20    16               Pidgey    Normal  ...    56           1      False
21    17            Pidgeotto    Normal  ...    71           1      False
22    18              Pidgeot    Normal  ...   101           1      False
23    18  PidgeotMega Pidgeot    Normal  ...   121           1      False
30    25              Pikachu  Electric  ...    90           1      False
136  127               Pinsir       Bug  ...    85           1      False
137  127    PinsirMega Pinsir       Bug  ...   105           1      False
186  172                Pichu  Electric  ...    60           2      False
219  204               Pineco       Bug  ...    15           2      False
239  221            Piloswine       Ice  ...    50           2      False
438  393               Piplup     Water  ...    40           4      False
558  499              Pignite      Fire  ...    55           5      False
578  519               Pidove    Normal  ...    43           5      False

[13 rows x 13 columns]

## Conditional Changes

In [121]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

In [122]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander   Flamer  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion   Flamer  ...    70           6       True

[800 rows x 13 columns]

In [123]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

In [124]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [131]:
df = pd.read_csv('modified.csv')
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [134]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']
df.head()

   #                   Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1              Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2                Ivysaur  Grass  Poison  ...       80     60           1      False
2  3               Venusaur  Grass  Poison  ...      100     80      Test 1     Test 2
3  3  VenusaurMega Venusaur  Grass  Poison  ...      120     80      Test 1     Test 2
4  4             Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 13 columns]

## Aggregate Statistics (Groupby)

In [136]:
df = pd.read_csv('./pokemon_data.csv')
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [138]:
df.groupby(['Type 1']).mean()

                   #         HP      Attack  ...       Speed  Generation  Legendary
Type 1                                       ...
Bug       334.492754  56.884058   70.971014  ...   61.681159    3.217391   0.000000
Dark      461.354839  66.806452   88.387097  ...   76.161290    4.032258   0.064516
Dragon    474.375000  83.312500  112.125000  ...   83.031250    3.875000   0.375000
Electric  363.500000  59.795455   69.090909  ...   84.500000    3.272727   0.090909
Fairy     449.529412  74.117647   61.529412  ...   48.588235    4.117647   0.058824
Fighting  363.851852  69.851852   96.777778  ...   66.074074    3.370370   0.000000
Fire      327.403846  69.903846   84.769231  ...   74.442308    3.211538   0.096154
Flying    677.750000  70.750000   78.750000  ...  102.500000    5.500000   0.500000
Ghost     486.500000  64.437500   73.781250  ...   64.343750    4.187500   0.062500
Grass     344.871429  67.271429   73.214286  ...   61.928571    3.357143   0.042857
Ground    356.281250  73.781250   95.750000  ...   63.906250    3.156250   0.125000
Ice       423.541667  72.000000   72.750000  ...   63.458333    3.541667   0.083333
Normal    319.173469  77.275510   73.469388  ...   71.551020    3.051020   0.020408
Poison    251.785714  67.250000   74.678571  ...   63.571429    2.535714   0.000000
Psychic   380.807018  70.631579   71.456140  ...   81.491228    3.385965   0.245614
Rock      392.727273  65.363636   92.863636  ...   55.909091    3.454545   0.090909
Steel     442.851852  65.222222   92.703704  ...   55.259259    3.851852   0.148148
Water     303.089286  72.062500   74.151786  ...   65.964286    2.857143   0.035714

[18 rows x 9 columns]

In [139]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

                   #         HP      Attack  ...       Speed  Generation  Legendary
Type 1                                       ...
Dragon    474.375000  83.312500  112.125000  ...   83.031250    3.875000   0.375000
Fighting  363.851852  69.851852   96.777778  ...   66.074074    3.370370   0.000000
Ground    356.281250  73.781250   95.750000  ...   63.906250    3.156250   0.125000
Rock      392.727273  65.363636   92.863636  ...   55.909091    3.454545   0.090909
Steel     442.851852  65.222222   92.703704  ...   55.259259    3.851852   0.148148
Dark      461.354839  66.806452   88.387097  ...   76.161290    4.032258   0.064516
Fire      327.403846  69.903846   84.769231  ...   74.442308    3.211538   0.096154
Flying    677.750000  70.750000   78.750000  ...  102.500000    5.500000   0.500000
Poison    251.785714  67.250000   74.678571  ...   63.571429    2.535714   0.000000
Water     303.089286  72.062500   74.151786  ...   65.964286    2.857143   0.035714
Ghost     486.500000  64.437500   73.781250  ...   64.343750    4.187500   0.062500
Normal    319.173469  77.275510   73.469388  ...   71.551020    3.051020   0.020408
Grass     344.871429  67.271429   73.214286  ...   61.928571    3.357143   0.042857
Ice       423.541667  72.000000   72.750000  ...   63.458333    3.541667   0.083333
Psychic   380.807018  70.631579   71.456140  ...   81.491228    3.385965   0.245614
Bug       334.492754  56.884058   70.971014  ...   61.681159    3.217391   0.000000
Electric  363.500000  59.795455   69.090909  ...   84.500000    3.272727   0.090909
Fairy     449.529412  74.117647   61.529412  ...   48.588235    4.117647   0.058824

[18 rows x 9 columns]

In [141]:
df.groupby(['Type 1']).sum()

              #    HP  Attack  Defense  ...  Sp. Def  Speed  Generation  Legendary
Type 1                                  ...
Bug       23080  3925    4897     4880  ...     4471   4256         222        0.0
Dark      14302  2071    2740     2177  ...     2155   2361         125        2.0
Dragon    15180  2666    3588     2764  ...     2843   2657         124       12.0
Electric  15994  2631    3040     2917  ...     3243   3718         144        4.0
Fairy      7642  1260    1046     1117  ...     1440    826          70        1.0
Fighting   9824  1886    2613     1780  ...     1747   1784          91        0.0
Fire      17025  3635    4408     3524  ...     3755   3871         167        5.0
Flying     2711   283     315      265  ...      290    410          22        2.0
Ghost     15568  2062    2361     2598  ...     2447   2059         134        2.0
Grass     24141  4709    5125     4956  ...     4930   4335         235        3.0
Ground    11401  2361    3064     2715  ...     2008   2045         101        4.0
Ice       10165  1728    1746     1714  ...     1831   1523          85        2.0
Normal    31279  7573    7200     5865  ...     6245   7012         299        2.0
Poison     7050  1883    2091     1927  ...     1803   1780          71        0.0
Psychic   21706  4026    4073     3858  ...     4918   4645         193       14.0
Rock      17280  2876    4086     4435  ...     3321   2460         152        4.0
Steel     11957  1761    2503     3412  ...     2177   1492         104        4.0
Water     33946  8071    8305     8170  ...     7898   7388         320        4.0

[18 rows x 9 columns]

In [142]:
df.groupby(['Type 1']).count()

            #  Name  Type 2   HP  ...  Sp. Def  Speed  Generation  Legendary
Type 1                            ...
Bug        69    69      52   69  ...       69     69          69         69
Dark       31    31      21   31  ...       31     31          31         31
Dragon     32    32      21   32  ...       32     32          32         32
Electric   44    44      17   44  ...       44     44          44         44
Fairy      17    17       2   17  ...       17     17          17         17
Fighting   27    27       7   27  ...       27     27          27         27
Fire       52    52      24   52  ...       52     52          52         52
Flying      4     4       2    4  ...        4      4           4          4
Ghost      32    32      22   32  ...       32     32          32         32
Grass      70    70      37   70  ...       70     70          70         70
Ground     32    32      19   32  ...       32     32          32         32
Ice        24    24      11   24  ...       24     24          24         24
Normal     98    98      37   98  ...       98     98          98         98
Poison     28    28      13   28  ...       28     28          28         28
Psychic    57    57      19   57  ...       57     57          57         57
Rock       44    44      35   44  ...       44     44          44         44
Steel      27    27      22   27  ...       27     27          27         27
Water     112   112      53  112  ...      112    112         112        112

[18 rows x 11 columns]

In [144]:
df['count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

## Working with large amounts of data

In [145]:
for df in pd.read_csv('modified.csv', chunksize=5):
    print("Chunk DF")
    print(df)

          5      False
603  543    Venipede    Bug  Poison  ...       39     57           5      False
604  544  Whirlipede    Bug  Poison  ...       79     47           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
605  545   Scolipede    Bug  Poison  ...       69    112           5      False
606  546    Cottonee  Grass   Fairy  ...       50     66           5      False
607  547  Whimsicott  Grass   Fairy  ...       75    116           5      False
608  548     Petilil  Grass     NaN  ...       50     30           5      False
609  549   Lilligant  Grass     NaN  ...       75     90           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
610  550    Basculin   Water    NaN  ...       55     98           5      False
611  551     Sandile  Ground   Dark  ...       35     65           5      False
612  552    Krokorok  Ground   Dark  ...       45     74           5      False
613  553  Krookodile  Ground   Dark  ...       70     92           5      False
614  554    Darumaka    Fire    NaN  ...       45     50           5      False

[5 rows x 13 columns]
Chunk DF
       #                     Name Type 1  ... Speed  Generation  Legendary
615  555  DarmanitanStandard Mode   Fire  ...    95           5      False
616  555       DarmanitanZen Mode   Fire  ...    55           5      False
617  556                 Maractus  Grass  ...    60           5      False
618  557                  Dwebble    Bug  ...    55           5      False
619  558                  Crustle    Bug  ...    45           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name   Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
620  559     Scraggy     Dark  Fighting  ...       70     48           5      False
621  560     Scrafty     Dark  Fighting  ...      115     58           5      False
622  561    Sigilyph  Psychic    Flying  ...       80     97           5      False
623  562      Yamask    Ghost       NaN  ...       65     30           5      False
624  563  Cofagrigus    Ghost       NaN  ...      105     30           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
625  564    Tirtouga   Water    Rock  ...       45     22           5      False
626  565  Carracosta   Water    Rock  ...       65     32           5      False
627  566      Archen    Rock  Flying  ...       45     70           5      False
628  567    Archeops    Rock  Flying  ...       65    110           5      False
629  568    Trubbish  Poison     NaN  ...       62     65           5      False

[5 rows x 13 columns]
Chunk DF
       #      Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
630  569  Garbodor  Poison     NaN  ...       82     75           5      False
631  570     Zorua    Dark     NaN  ...       40     65           5      False
632  571   Zoroark    Dark     NaN  ...       60    105           5      False
633  572  Minccino  Normal     NaN  ...       40     75           5      False
634  573  Cinccino  Normal     NaN  ...       60    115           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name   Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
635  574     Gothita  Psychic     NaN  ...       65     45           5      False
636  575   Gothorita  Psychic     NaN  ...       85     55           5      False
637  576  Gothitelle  Psychic     NaN  ...      110     65           5      False
638  577     Solosis  Psychic     NaN  ...       50     20           5      False
639  578     Duosion  Psychic     NaN  ...       60     30           5      False

[5 rows x 13 columns]
Chunk DF
       #       Name   Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
640  579  Reuniclus  Psychic     NaN  ...       85     30           5      False
641  580   Ducklett    Water  Flying  ...       50     55           5      False
642  581     Swanna    Water  Flying  ...       63     98           5      False
643  582  Vanillite      Ice     NaN  ...       60     44           5      False
644  583  Vanillish      Ice     NaN  ...       75     59           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
645  584   Vanilluxe       Ice     NaN  ...       95     79           5      False
646  585    Deerling    Normal   Grass  ...       50     75           5      False
647  586    Sawsbuck    Normal   Grass  ...       70     95           5      False
648  587      Emolga  Electric  Flying  ...       60    103           5      False
649  588  Karrablast       Bug     NaN  ...       45     60           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
650  589  Escavalier    Bug   Steel  ...      105     20           5      False
651  590     Foongus  Grass  Poison  ...       55     15           5      False
652  591   Amoonguss  Grass  Poison  ...       80     30           5      False
653  592    Frillish  Water   Ghost  ...       85     40           5      False
654  593   Jellicent  Water   Ghost  ...      105     60           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
655  594   Alomomola  Water       NaN  ...       45     65           5      False
656  595      Joltik    Bug  Electric  ...       50     65           5      False
657  596  Galvantula    Bug  Electric  ...       60    108           5      False
658  597   Ferroseed  Grass     Steel  ...       86     10           5      False
659  598  Ferrothorn  Grass     Steel  ...      116     20           5      False

[5 rows x 13 columns]
Chunk DF
       #       Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
660  599      Klink     Steel     NaN  ...       60     30           5      False
661  600      Klang     Steel     NaN  ...       85     50           5      False
662  601  Klinklang     Steel     NaN  ...       85     90           5      False
663  602     Tynamo  Electric     NaN  ...       40     60           5      False
664  603  Eelektrik  Electric     NaN  ...       70     40           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name    Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
665  604  Eelektross  Electric    NaN  ...       80     50           5      False
666  605      Elgyem   Psychic    NaN  ...       55     30           5      False
667  606    Beheeyem   Psychic    NaN  ...       95     40           5      False
668  607     Litwick     Ghost   Fire  ...       55     20           5      False
669  608     Lampent     Ghost   Fire  ...       60     55           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
670  609  Chandelure   Ghost   Fire  ...       90     80           5      False
671  610        Axew  Dragon    NaN  ...       40     57           5      False
672  611     Fraxure  Dragon    NaN  ...       50     67           5      False
673  612     Haxorus  Dragon    NaN  ...       70     97           5      False
674  613     Cubchoo     Ice    NaN  ...       40     40           5      False

[5 rows x 13 columns]
Chunk DF
       #       Name  Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
675  614    Beartic     Ice       NaN  ...       80     50           5      False
676  615  Cryogonal     Ice       NaN  ...      135    105           5      False
677  616    Shelmet     Bug       NaN  ...       65     25           5      False
678  617   Accelgor     Bug       NaN  ...       60    145           5      False
679  618   Stunfisk  Ground  Electric  ...       99     32           5      False

[5 rows x 13 columns]
Chunk DF
       #       Name    Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
680  619    Mienfoo  Fighting    NaN  ...       50     65           5      False
681  620   Mienshao  Fighting    NaN  ...       60    105           5      False
682  621  Druddigon    Dragon    NaN  ...       90     48           5      False
683  622     Golett    Ground  Ghost  ...       50     35           5      False
684  623     Golurk    Ground  Ghost  ...       80     55           5      False

[5 rows x 13 columns]
Chunk DF
       #        Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
685  624    Pawniard    Dark   Steel  ...       40     60           5      False
686  625     Bisharp    Dark   Steel  ...       70     70           5      False
687  626  Bouffalant  Normal     NaN  ...       95     55           5      False
688  627     Rufflet  Normal  Flying  ...       50     60           5      False
689  628    Braviary  Normal  Flying  ...       75     80           5      False

[5 rows x 13 columns]
Chunk DF
       #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
690  629    Vullaby   Dark  Flying  ...       65     60           5      False
691  630  Mandibuzz   Dark  Flying  ...       95     80           5      False
692  631    Heatmor   Fire     NaN  ...       66     65           5      False
693  632     Durant    Bug   Steel  ...       48    109           5      False
694  633      Deino   Dark  Dragon  ...       50     38           5      False

[5 rows x 13 columns]
Chunk DF
       #       Name Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
695  634   Zweilous   Dark    Dragon  ...       70     58           5      False
696  635  Hydreigon   Dark    Dragon  ...       90     98           5      False
697  636   Larvesta    Bug      Fire  ...       55     60           5      False
698  637  Volcarona    Bug      Fire  ...      105    100           5      False
699  638   Cobalion  Steel  Fighting  ...       72    108           5       True

[5 rows x 13 columns]
Chunk DF
       #                      Name    Type 1  ... Speed  Generation  Legendary
700  639                 Terrakion      Rock  ...   108           5       True
701  640                  Virizion     Grass  ...   108           5       True
702  641   TornadusIncarnate Forme    Flying  ...   111           5       True
703  641     TornadusTherian Forme    Flying  ...   121           5       True
704  642  ThundurusIncarnate Forme  Electric  ...   111           5       True

[5 rows x 13 columns]
Chunk DF
       #                     Name    Type 1  ... Speed  Generation  Legendary
705  642   ThundurusTherian Forme  Electric  ...   101           5       True
706  643                 Reshiram    Dragon  ...    90           5       True
707  644                   Zekrom    Dragon  ...    90           5       True
708  645  LandorusIncarnate Forme    Ground  ...   101           5       True
709  645    LandorusTherian Forme    Ground  ...    91           5       True

[5 rows x 13 columns]
Chunk DF
       #                  Name  Type 1  ... Speed  Generation  Legendary
710  646                Kyurem  Dragon  ...    95           5       True
711  646    KyuremBlack Kyurem  Dragon  ...    95           5       True
712  646    KyuremWhite Kyurem  Dragon  ...    95           5       True
713  647  KeldeoOrdinary Forme   Water  ...   108           5      False
714  647  KeldeoResolute Forme   Water  ...   108           5      False

[5 rows x 13 columns]
Chunk DF
       #                     Name  Type 1  ... Speed  Generation  Legendary
715  648       MeloettaAria Forme  Normal  ...    90           5      False
716  648  MeloettaPirouette Forme  Normal  ...   128           5      False
717  649                 Genesect     Bug  ...    99           5      False
718  650                  Chespin   Grass  ...    38           6      False
719  651                Quilladin   Grass  ...    57           6      False

[5 rows x 13 columns]
Chunk DF
       #        Name Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
720  652  Chesnaught  Grass  Fighting  ...       75     64           6      False
721  653    Fennekin   Fire       NaN  ...       60     60           6      False
722  654     Braixen   Fire       NaN  ...       70     73           6      False
723  655     Delphox   Fire   Psychic  ...      100    104           6      False
724  656     Froakie  Water       NaN  ...       44     71           6      False

[5 rows x 13 columns]
Chunk DF
       #        Name  Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
725  657   Frogadier   Water     NaN  ...       56     97           6      False
726  658    Greninja   Water    Dark  ...       71    122           6      False
727  659    Bunnelby  Normal     NaN  ...       36     57           6      False
728  660   Diggersby  Normal  Ground  ...       77     78           6      False
729  661  Fletchling  Normal  Flying  ...       38     62           6      False

[5 rows x 13 columns]
Chunk DF
       #         Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
730  662  Fletchinder   Fire  Flying  ...       52     84           6      False
731  663   Talonflame   Fire  Flying  ...       69    126           6      False
732  664   Scatterbug    Bug     NaN  ...       25     35           6      False
733  665       Spewpa    Bug     NaN  ...       30     29           6      False
734  666     Vivillon    Bug  Flying  ...       50     89           6      False

[5 rows x 13 columns]
Chunk DF
       #     Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
735  667   Litleo   Fire  Normal  ...       54     72           6      False
736  668   Pyroar   Fire  Normal  ...       66    106           6      False
737  669  Flabébé  Fairy     NaN  ...       79     42           6      False
738  670  Floette  Fairy     NaN  ...       98     52           6      False
739  671  Florges  Fairy     NaN  ...      154     75           6      False

[5 rows x 13 columns]
Chunk DF
       #     Name    Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
740  672   Skiddo     Grass    NaN  ...       57     52           6      False
741  673   Gogoat     Grass    NaN  ...       81     68           6      False
742  674  Pancham  Fighting    NaN  ...       48     43           6      False
743  675  Pangoro  Fighting   Dark  ...       71     58           6      False
744  676  Furfrou    Normal    NaN  ...       90    102           6      False

[5 rows x 13 columns]
Chunk DF
       #            Name   Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
745  677          Espurr  Psychic    NaN  ...       60     68           6      False
746  678    MeowsticMale  Psychic    NaN  ...       81    104           6      False
747  678  MeowsticFemale  Psychic    NaN  ...       81    104           6      False
748  679         Honedge    Steel  Ghost  ...       37     28           6      False
749  680        Doublade    Steel  Ghost  ...       49     35           6      False

[5 rows x 13 columns]
Chunk DF
       #                   Name Type 1  ... Speed  Generation  Legendary
750  681   AegislashBlade Forme  Steel  ...    60           6      False
751  681  AegislashShield Forme  Steel  ...    60           6      False
752  682               Spritzee  Fairy  ...    23           6      False
753  683             Aromatisse  Fairy  ...    29           6      False
754  684                Swirlix  Fairy  ...    49           6      False

[5 rows x 13 columns]
Chunk DF
       #        Name Type 1   Type 2  ...  Sp. Def  Speed  Generation  Legendary
755  685    Slurpuff  Fairy      NaN  ...       75     72           6      False
756  686       Inkay   Dark  Psychic  ...       46     45           6      False
757  687     Malamar   Dark  Psychic  ...       75     73           6      False
758  688     Binacle   Rock    Water  ...       56     50           6      False
759  689  Barbaracle   Rock    Water  ...       86     68           6      False

[5 rows x 13 columns]
Chunk DF
       #        Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
760  690      Skrelp    Poison   Water  ...       60     30           6      False
761  691    Dragalge    Poison  Dragon  ...      123     44           6      False
762  692   Clauncher     Water     NaN  ...       63     44           6      False
763  693   Clawitzer     Water     NaN  ...       89     59           6      False
764  694  Helioptile  Electric  Normal  ...       43     70           6      False

[5 rows x 13 columns]
Chunk DF
       #       Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
765  695  Heliolisk  Electric  Normal  ...       94    109           6      False
766  696     Tyrunt      Rock  Dragon  ...       45     48           6      False
767  697  Tyrantrum      Rock  Dragon  ...       59     71           6      False
768  698     Amaura      Rock     Ice  ...       63     46           6      False
769  699    Aurorus      Rock     Ice  ...       92     58           6      False

[5 rows x 13 columns]
Chunk DF
       #      Name    Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
770  700   Sylveon     Fairy     NaN  ...      130     60           6      False
771  701  Hawlucha  Fighting  Flying  ...       63    118           6      False
772  702   Dedenne  Electric   Fairy  ...       67    101           6      False
773  703   Carbink      Rock   Fairy  ...      150     50           6      False
774  704     Goomy    Dragon     NaN  ...       75     40           6      False

[5 rows x 13 columns]
Chunk DF
       #       Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
775  705    Sliggoo  Dragon    NaN  ...      113     60           6      False
776  706     Goodra  Dragon    NaN  ...      150     80           6      False
777  707     Klefki   Steel  Fairy  ...       87     75           6      False
778  708   Phantump   Ghost  Grass  ...       60     38           6      False
779  709  Trevenant   Ghost  Grass  ...       82     56           6      False

[5 rows x 13 columns]
Chunk DF
       #                   Name Type 1  ... Speed  Generation  Legendary
780  710  PumpkabooAverage Size  Ghost  ...    51           6      False
781  710    PumpkabooSmall Size  Ghost  ...    56           6      False
782  710    PumpkabooLarge Size  Ghost  ...    46           6      False
783  710    PumpkabooSuper Size  Ghost  ...    41           6      False
784  711  GourgeistAverage Size  Ghost  ...    84           6      False

[5 rows x 13 columns]
Chunk DF
       #                 Name Type 1  ... Speed  Generation  Legendary
785  711  GourgeistSmall Size  Ghost  ...    99           6      False
786  711  GourgeistLarge Size  Ghost  ...    69           6      False
787  711  GourgeistSuper Size  Ghost  ...    54           6      False
788  712             Bergmite    Ice  ...    28           6      False
789  713              Avalugg    Ice  ...    28           6      False

[5 rows x 13 columns]
Chunk DF
       #              Name  Type 1  ... Speed  Generation  Legendary
790  714            Noibat  Flying  ...    55           6      False
791  715           Noivern  Flying  ...   123           6      False
792  716           Xerneas   Fairy  ...    99           6       True
793  717           Yveltal    Dark  ...    99           6       True
794  718  Zygarde50% Forme  Dragon  ...    95           6       True

[5 rows x 13 columns]
Chunk DF
       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 13 columns]

In [146]:
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()    # divide and conquer
    new_df = pd.concat([new_df, results])       # merge

In [147]:
new_df

         # Attack Defense Generation HP  ... Sp. Def Speed Total Type 1 Type 2
Fire     1      1       1          1  1  ...       1     1     1    NaN      0
Grass    4      4       4          4  4  ...       4     4     4    NaN      4
Fire     4      4       4          4  4  ...       4     4     4    NaN      3
Water    1      1       1          1  1  ...       1     1     1    NaN      0
Bug      2      2       2          2  2  ...       2     2     2    NaN      0
...     ..    ...     ...        ... ..  ...     ...   ...   ...    ...    ...
Fairy    1      1       1          1  1  ...       1     1     1    NaN      0
Flying   2      2       2          2  2  ...       2     2     2    NaN      2
Fire     1      1       1          1  1  ...       1     1     1    NaN      1
Psychic  2      2       2          2  2  ...       2     2     2    NaN      2
Rock     2      2       2          2  2  ...       2     2     2    NaN      2

[433 rows x 13 columns]